# ROS 2 Workspaces
build/
install/
log/

# IDE
.vscode/
.idea/

# Ignored Sub-Repositories
clothoid_trajectory_controller/
mcb_g6_firmware/
path_smoother/move_smooth/
ubiquity_route_manager/

# Internal Agent Workspaces
.agents/

